extends layout

block content
  h1= title
  p Tuturuuuuu Al fín salió la vistaaaaa:D

  h1 La siguiente lista cambiará según los datos en la base.

  if error
    p Error getting dynamic content.
  else
    p Se presenta el resumen de la libreria:

    ul
      li #[strong Libros:] !{data.book_count}
      li #[strong Copias:] !{data.book_instance_count}
      li #[strong Copias Disponibles:] !{data.book_instance_available_count} 
      li #[strong Autores únicos:] !{data.author_count}
      li #[strong Generos que se manejan:] !{data.genre_count}
